@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-play:before {
  content: "\e902";
  color: #fff;
}

._icon-ei_arrow-left:before {
  content: "\e900";
}

._icon-ei_arrow-right:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #101010;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 0.8125rem 1.5rem;
  border-radius: 6.25rem;
  border: 0.125rem solid #fff;
  -webkit-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  font-weight: 500;
  text-wrap: nowrap;
}

.button--blue {
  border: 0.125rem solid #5cb3ff;
  background-color: #5cb3ff;
  color: #fff;
  -webkit-transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border 0.2s ease 0s;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border 0.2s ease 0s;
}

.button--big {
  padding: 1.25rem 2.375rem;
  font-size: 1.25rem;
}

.title {
  font-weight: 700;
  line-height: 130%;
  text-transform: capitalize;
  color: #fff;
}

.title--black {
  color: #101010;
}

.title--small {
  line-height: normal;
  letter-spacing: 0.04375rem;
}

.arrow {
  font-size: 4.75rem;
  color: #5cb3ff;
  -webkit-transition: translate 0.3s ease 0s;
  transition: translate 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.arrow.swiper-button-disabled {
  opacity: 0.4;
}

.header {
  background-color: rgba(115, 144, 207, 0.95);
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: padding 0.2s ease 0s;
  transition: padding 0.2s ease 0s;
}

.header._header-scroll {
  padding: 0.9375rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__logo {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  width: 9.375rem;
  height: 3.125rem;
}

.header__logo img {
  max-width: 100%;
}

.header__buttons {
  position: relative;
  z-index: 6;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.3125rem;
}

.menu__link {
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.icon-menu {
  display: none;
}

.hero {
  background-color: #728fce;
}

.top-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-hero__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
  text-transform: capitalize;
}

.top-hero__title span {
  font-weight: 800;
}

.top-hero__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35.5%;
          flex: 1 1 35.5%;
  position: relative;
}

.top-hero__image img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-hero__image img:nth-child(1) {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.bottom-hero__slogan {
  padding: 2.125rem 0.9375rem;
  border-radius: 1.25rem;
  background-color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: normal;
}

.bottom-hero__slogan span {
  font-weight: 700;
}

.bottom-hero__items {
  border-radius: 1.25rem;
  background-color: rgba(61, 65, 153, 0.6);
  padding: 1.5rem 2.125rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.875rem, 1fr));
}

.item-bottom-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-bottom-hero__icon {
  padding: 1.5rem;
}

.item-bottom-hero__text {
  color: #fff;
  font-weight: 500;
  line-height: 135.687%;
}

.lists {
  background-color: #fafbff;
}

.lists__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
}

.item-lists {
  border-radius: 1.25rem;
  background: #fff;
}

.item-lists__title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
}

.item-lists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-lists__item {
  font-weight: 400;
  line-height: 140.187%;
  position: relative;
  padding-left: 1.8125rem;
}

.item-lists__item::before {
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: 0;
  width: 0.875rem;
  height: 0.875rem;
  background-color: #728fce;
  border-radius: 50%;
}

.news {
  background-color: #2c3378;
}

.header-news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-news__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-news__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.header-news__label {
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
  color: #fff;
}

.slide-news {
  border-radius: 1.25rem;
  background: #fafbff;
  -webkit-box-shadow: 0px 0.125rem 1.25rem 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0.125rem 1.25rem 0px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.4;
}

.slide-news.swiper-slide-active {
  opacity: 1;
}

.slide-news__image {
  position: relative;
  padding-bottom: 58%;
  overflow: hidden;
}

.slide-news__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.slide-news__text {
  font-weight: 600;
  line-height: 140%;
}

.slide-news__date {
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.5;
}

.educational {
  background-color: #728fce;
}

.educational__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.educational__title {
  text-align: center;
}

.educational__text {
  color: #fff;
  font-weight: 400;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.educational__image {
  max-width: 80%;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
}

.educational__image img {
  max-width: 100%;
}

.videos__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.videos__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.25rem;
          flex: 0 0 21.25rem;
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-videos__slide {
  aspect-ratio: 1.53;
  position: relative;
  cursor: pointer;
}

.main-videos__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-videos__slide button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.625rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.aside-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e2e4ed;
  background: #fff;
}

.aside-videos__image {
  position: relative;
  padding-bottom: 60.8%;
  overflow: hidden;
}

.aside-videos__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-videos__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.aside-videos__link {
  font-size: 4.75rem;
  color: #5cb3ff;
  -webkit-transition: translate 0.3s ease 0s;
  transition: translate 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.4;
}

.aside-videos__text {
  font-weight: 400;
  line-height: 150%;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .top-hero__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64.5%;
            flex: 0 0 64.5%;
    padding-right: 3.75rem;
  }

  .top-hero__title {
    text-align: start;
    max-width: 37.8125rem;
  }

  .videos__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 47.99875em) and (min-width: 74.375em) {
  .videos__container {
    gap: 3.75rem;
  }
}

@media (min-width: 61.99875em) {
  .educational__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding-right: 1.25rem;
  }

  .educational__title {
    text-align: start;
    max-width: 31.25rem;
  }

  .educational__text {
    max-width: 31.25rem;
  }

  .educational__image {
    aspect-ratio: 1.3/1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .educational__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 35%;
       object-position: 35%;
  }
}

@media (min-width: 74.375em) {
  .title {
    font-size: 3rem;
  }

  .title--small {
    font-size: 2.25rem;
  }

  .menu__list {
    -webkit-column-gap: 2.125rem;
       -moz-column-gap: 2.125rem;
            column-gap: 2.125rem;
  }

  .menu__link {
    font-size: 0.875rem;
  }

  .hero {
    padding-top: 9.875rem;
  }

  .hero {
    padding-bottom: 3.75rem;
  }

  .top-hero:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .top-hero__title {
    font-size: 2.5rem;
  }

  .top-hero__title:not(:last-child) {
    margin-bottom: 3.25rem;
  }

  .bottom-hero__slogan:not(:last-child) {
    margin-bottom: 2rem;
  }

  .bottom-hero__slogan {
    font-size: 1.375rem;
  }

  .bottom-hero__items {
    gap: 1.5rem;
  }

  .item-bottom-hero__text {
    font-size: 1.125rem;
  }

  .lists {
    padding-top: 7.5rem;
  }

  .lists {
    padding-bottom: 7.5rem;
  }

  .lists__items {
    gap: 1.5rem;
  }

  .item-lists {
    padding: 2rem;
  }

  .item-lists__title {
    font-size: 1.25rem;
  }

  .item-lists__title:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  .item-lists__list {
    row-gap: 2rem;
  }

  .item-lists__item {
    font-size: 1.125rem;
  }

  .news {
    padding-top: 7.5rem;
  }

  .news {
    padding-bottom: 7.5rem;
  }

  .header-news__container {
    margin-bottom: 3.75rem;
  }

  .header-news__left {
    row-gap: 1rem;
  }

  .header-news__label {
    font-size: 1.5rem;
  }

  .slide-news {
    padding: 2.25rem;
  }

  .slide-news {
    gap: 2.25rem;
  }

  .slide-news__text {
    font-size: 1.125rem;
  }

  .educational {
    padding-top: 7.5rem;
  }

  .educational {
    padding-bottom: 7.5rem;
  }

  .educational__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .educational__text {
    font-size: 1.125rem;
  }

  .educational__text {
    row-gap: 1.5625rem;
  }

  .videos {
    padding-top: 5rem;
  }

  .videos {
    padding-bottom: 5rem;
  }

  .main-videos__title:not(:last-child) {
    margin-bottom: 3rem;
  }

  .main-videos__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .main-videos__wrapper:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .aside-videos {
    padding: 2rem;
  }

  .aside-videos {
    row-gap: 2rem;
  }

  .aside-videos__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 62em) {
  .menu__list {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .title--small {
    font-size: 1.375rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .hero {
    padding-top: 6.875rem;
  }

  .hero {
    padding-bottom: 1.875rem;
  }

  .top-hero:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .top-hero__title {
    font-size: 1.5rem;
  }

  .top-hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .bottom-hero__slogan:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .bottom-hero__slogan {
    font-size: 1.125rem;
  }

  .bottom-hero__items {
    gap: 0.9375rem;
  }

  .item-bottom-hero__text {
    font-size: 1rem;
  }

  .lists {
    padding-top: 1.875rem;
  }

  .lists {
    padding-bottom: 1.875rem;
  }

  .lists__items {
    gap: 0.9375rem;
  }

  .item-lists {
    padding: 0.9375rem;
  }

  .item-lists__title {
    font-size: 1rem;
  }

  .item-lists__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .item-lists__list {
    row-gap: 0.9375rem;
  }

  .item-lists__item {
    font-size: 1rem;
  }

  .news {
    padding-top: 1.875rem;
  }

  .news {
    padding-bottom: 1.875rem;
  }

  .header-news__container {
    margin-bottom: 1.875rem;
  }

  .header-news__left {
    row-gap: 0.625rem;
  }

  .header-news__label {
    font-size: 1.25rem;
  }

  .slide-news {
    padding: 1.125rem;
  }

  .slide-news {
    gap: 1.125rem;
  }

  .slide-news__text {
    font-size: 1rem;
  }

  .educational {
    padding-top: 1.875rem;
  }

  .educational {
    padding-bottom: 1.875rem;
  }

  .educational__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .educational__text {
    font-size: 1rem;
  }

  .educational__text {
    row-gap: 0.9375rem;
  }

  .videos {
    padding-top: 1.875rem;
  }

  .videos {
    padding-bottom: 1.875rem;
  }

  .main-videos__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-videos__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main-videos__wrapper:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .aside-videos {
    padding: 1rem;
  }

  .aside-videos {
    row-gap: 1rem;
  }

  .aside-videos__text {
    font-size: 1rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    padding: 0.9375rem 0;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.375rem;
            flex: 0 0 9.375rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu__body {
    position: fixed;
    top: 0;
    z-index: 5;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #728fce;
    padding: 7.5rem 0.9375rem 2.5rem 0.9375rem;
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 5rem;
    background-color: #728fce;
    z-index: 2;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .buttons-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.09375rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.09375rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .educational__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__list {
    row-gap: 2.5rem;
  }

  .menu__list {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .hero {
    padding-top: 6.875rem;
  }

  .top-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: calc(100svh - 110px);
  }

  .top-hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-bottom: 2.5rem;
  }

  .top-hero__image {
    max-width: 17.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 3.125rem;
  }

  .videos__main:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main-videos__title {
    text-align: center;
  }

  .main-videos__navigation {
    text-align: center;
  }
}

@media (max-width: 41.875em) {
  .header-news__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }
}

@media (max-width: 39.25em) {
  .item-lists__title {
    text-align: center;
  }
}

@media (max-width: 29.99875em) {
  .button--big {
    padding: 0.9375rem 1.5rem;
  }

  .top-hero__image {
    max-width: 13.75rem;
    margin-bottom: 2.5rem;
  }

  .educational__image {
    max-width: 100%;
  }
}

@media (max-width: 26.5625em) {
  .arrow {
    font-size: 3.625rem;
  }

  .header-news__right {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }

  .aside-videos__link {
    font-size: 3.625rem;
  }
}

@media (max-width: 26.875em) {
  .item-bottom-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .item-bottom-hero__icon {
    padding: 1rem;
  }
}

@media (min-width: 20em) and (max-width: 74.375em) {
@supports (font-size: clamp( 1.75rem , 1.2902298851rem  +  2.2988505747vw , 3rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.2902298851rem  +  2.2988505747vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.2902298851rem  +  2.2988505747vw , 3rem )) {
    .title {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0531609195rem  +  1.6091954023vw , 2.25rem )) {
    .title--small {
      font-size: clamp( 1.375rem , 1.0531609195rem  +  1.6091954023vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0531609195rem  +  1.6091954023vw , 2.25rem )) {
    .title--small {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-top: clamp( 6.875rem , 5.7715517241rem  +  5.5172413793vw , 9.875rem )) {
    .hero {
      padding-top: clamp( 6.875rem , 5.7715517241rem  +  5.5172413793vw , 9.875rem );
    }
}

@supports not (padding-top: clamp( 6.875rem , 5.7715517241rem  +  5.5172413793vw , 9.875rem )) {
    .hero {
      padding-top: calc(6.875rem + 3 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem )) {
    .hero {
      padding-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem )) {
    .hero {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.0402298851rem  +  2.2988505747vw , 3.75rem )) {
    .top-hero:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.0402298851rem  +  2.2988505747vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0402298851rem  +  2.2988505747vw , 3.75rem )) {
    .top-hero:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.132183908rem  +  1.8390804598vw , 2.5rem )) {
    .top-hero__title {
      font-size: clamp( 1.5rem , 1.132183908rem  +  1.8390804598vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.132183908rem  +  1.8390804598vw , 2.5rem )) {
    .top-hero__title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3692528736rem  +  2.5287356322vw , 3.25rem )) {
    .top-hero__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.3692528736rem  +  2.5287356322vw , 3.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3692528736rem  +  2.5287356322vw , 3.25rem )) {
    .top-hero__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.375 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.8290229885rem  +  0.2298850575vw , 2rem )) {
    .bottom-hero__slogan:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.8290229885rem  +  0.2298850575vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.8290229885rem  +  0.2298850575vw , 2rem )) {
    .bottom-hero__slogan:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.033045977rem  +  0.4597701149vw , 1.375rem )) {
    .bottom-hero__slogan {
      font-size: clamp( 1.125rem , 1.033045977rem  +  0.4597701149vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.033045977rem  +  0.4597701149vw , 1.375rem )) {
    .bottom-hero__slogan {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 54.375);
    }
}

@supports (gap: clamp( 0.9375rem , 0.7306034483rem  +  1.0344827586vw , 1.5rem )) {
    .bottom-hero__items {
      gap: clamp( 0.9375rem , 0.7306034483rem  +  1.0344827586vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.7306034483rem  +  1.0344827586vw , 1.5rem )) {
    .bottom-hero__items {
      gap: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .item-bottom-hero__text {
      font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .item-bottom-hero__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .lists {
      padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .lists {
      padding-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .lists {
      padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .lists {
      padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (gap: clamp( 0.9375rem , 0.7306034483rem  +  1.0344827586vw , 1.5rem )) {
    .lists__items {
      gap: clamp( 0.9375rem , 0.7306034483rem  +  1.0344827586vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.7306034483rem  +  1.0344827586vw , 1.5rem )) {
    .lists__items {
      gap: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding: clamp( 0.9375rem , 0.5466954023rem  +  1.9540229885vw , 2rem )) {
    .item-lists {
      padding: clamp( 0.9375rem , 0.5466954023rem  +  1.9540229885vw , 2rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.5466954023rem  +  1.9540229885vw , 2rem )) {
    .item-lists {
      padding: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
    .item-lists__title {
      font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
    .item-lists__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.7370689655rem  +  0.6896551724vw , 2.25rem )) {
    .item-lists__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.7370689655rem  +  0.6896551724vw , 2.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.7370689655rem  +  0.6896551724vw , 2.25rem )) {
    .item-lists__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.375 * (100vw - 20rem) / 54.375);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.5466954023rem  +  1.9540229885vw , 2rem )) {
    .item-lists__list {
      row-gap: clamp( 0.9375rem , 0.5466954023rem  +  1.9540229885vw , 2rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.5466954023rem  +  1.9540229885vw , 2rem )) {
    .item-lists__list {
      row-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .item-lists__item {
      font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .item-lists__item {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .news {
      padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .news {
      padding-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .news {
      padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .news {
      padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem )) {
    .header-news__container {
      margin-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem )) {
    .header-news__container {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 54.375);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.4870689655rem  +  0.6896551724vw , 1rem )) {
    .header-news__left {
      row-gap: clamp( 0.625rem , 0.4870689655rem  +  0.6896551724vw , 1rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.4870689655rem  +  0.6896551724vw , 1rem )) {
    .header-news__left {
      row-gap: calc(0.625rem + 0.375 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.158045977rem  +  0.4597701149vw , 1.5rem )) {
    .header-news__label {
      font-size: clamp( 1.25rem , 1.158045977rem  +  0.4597701149vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.158045977rem  +  0.4597701149vw , 1.5rem )) {
    .header-news__label {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding: clamp( 1.125rem , 0.7112068966rem  +  2.0689655172vw , 2.25rem )) {
    .slide-news {
      padding: clamp( 1.125rem , 0.7112068966rem  +  2.0689655172vw , 2.25rem );
    }
}

@supports not (padding: clamp( 1.125rem , 0.7112068966rem  +  2.0689655172vw , 2.25rem )) {
    .slide-news {
      padding: calc(1.125rem + 1.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (gap: clamp( 1.125rem , 0.7112068966rem  +  2.0689655172vw , 2.25rem )) {
    .slide-news {
      gap: clamp( 1.125rem , 0.7112068966rem  +  2.0689655172vw , 2.25rem );
    }
}

@supports not (gap: clamp( 1.125rem , 0.7112068966rem  +  2.0689655172vw , 2.25rem )) {
    .slide-news {
      gap: calc(1.125rem + 1.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .slide-news__text {
      font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .slide-news__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .educational {
      padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .educational {
      padding-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .educational {
      padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1939655172rem  +  10.3448275862vw , 7.5rem )) {
    .educational {
      padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2176724138rem  +  1.724137931vw , 2.5rem )) {
    .educational__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2176724138rem  +  1.724137931vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2176724138rem  +  1.724137931vw , 2.5rem )) {
    .educational__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .educational__text {
      font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .educational__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.7076149425rem  +  1.1494252874vw , 1.5625rem )) {
    .educational__text {
      row-gap: clamp( 0.9375rem , 0.7076149425rem  +  1.1494252874vw , 1.5625rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.7076149425rem  +  1.1494252874vw , 1.5625rem )) {
    .educational__text {
      row-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem )) {
    .videos {
      padding-top: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem )) {
    .videos {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem )) {
    .videos {
      padding-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem )) {
    .videos {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6063218391rem  +  3.2183908046vw , 3rem )) {
    .main-videos__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6063218391rem  +  3.2183908046vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6063218391rem  +  3.2183908046vw , 3rem )) {
    .main-videos__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem )) {
    .main-videos__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1853448276rem  +  3.4482758621vw , 3.75rem )) {
    .main-videos__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.9518678161rem  +  6.3218390805vw , 3.75rem )) {
    .main-videos__wrapper:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.9518678161rem  +  6.3218390805vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.9518678161rem  +  6.3218390805vw , 3.75rem )) {
    .main-videos__wrapper:not(:last-child) {
      margin-bottom: calc(0.3125rem + 3.4375 * (100vw - 20rem) / 54.375);
    }
}

@supports (padding: clamp( 1rem , 0.632183908rem  +  1.8390804598vw , 2rem )) {
    .aside-videos {
      padding: clamp( 1rem , 0.632183908rem  +  1.8390804598vw , 2rem );
    }
}

@supports not (padding: clamp( 1rem , 0.632183908rem  +  1.8390804598vw , 2rem )) {
    .aside-videos {
      padding: calc(1rem + 1 * (100vw - 20rem) / 54.375);
    }
}

@supports (row-gap: clamp( 1rem , 0.632183908rem  +  1.8390804598vw , 2rem )) {
    .aside-videos {
      row-gap: clamp( 1rem , 0.632183908rem  +  1.8390804598vw , 2rem );
    }
}

@supports not (row-gap: clamp( 1rem , 0.632183908rem  +  1.8390804598vw , 2rem )) {
    .aside-videos {
      row-gap: calc(1rem + 1 * (100vw - 20rem) / 54.375);
    }
}

@supports (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .aside-videos__text {
      font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9540229885rem  +  0.2298850575vw , 1.125rem )) {
    .aside-videos__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 54.375);
    }
}
}

@media (min-width: 62em) and (max-width: 74.375em) {
@supports ((-moz-column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem )) or (column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem );
         -moz-column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem );
              column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem )) or (column-gap: clamp( 1rem , -4.6363636364rem  +  9.0909090909vw , 2.125rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1rem + 1.125 * (100vw - 62rem) / 12.375);
         -moz-column-gap: calc(1rem + 1.125 * (100vw - 62rem) / 12.375);
              column-gap: calc(1rem + 1.125 * (100vw - 62rem) / 12.375);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 74.375em) {
  .menu__list {
    row-gap: 3.75rem;
  }

  .menu__list {
    margin-bottom: 6.25rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 74.375em) {
@supports (row-gap: clamp( 2.5rem , 2.0402298851rem  +  2.2988505747vw , 3.75rem )) {
    .menu__list {
      row-gap: clamp( 2.5rem , 2.0402298851rem  +  2.2988505747vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 2.0402298851rem  +  2.2988505747vw , 3.75rem )) {
    .menu__list {
      row-gap: calc(2.5rem + 1.25 * (100vw - 20rem) / 54.375);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 2.8304597701rem  +  4.5977011494vw , 6.25rem )) {
    .menu__list {
      margin-bottom: clamp( 3.75rem , 2.8304597701rem  +  4.5977011494vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 2.8304597701rem  +  4.5977011494vw , 6.25rem )) {
    .menu__list {
      margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 54.375);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 74.375em) {
@supports (font-size: clamp( 0.75rem , 0.1238132512rem  +  1.00999899vw , 0.875rem )) {
    .menu__link {
      font-size: clamp( 0.75rem , 0.1238132512rem  +  1.00999899vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.1238132512rem  +  1.00999899vw , 0.875rem )) {
    .menu__link {
      font-size: calc(0.75rem + 0.125 * (100vw - 61.99875rem) / 12.37625);
    }
}
}

@media (min-width: 20em) and (max-width: 61.99875em) {
@supports (font-size: clamp( 1.125rem , 0.9464232566rem  +  0.8928837168vw , 1.5rem )) {
    .menu__link {
      font-size: clamp( 1.125rem , 0.9464232566rem  +  0.8928837168vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9464232566rem  +  0.8928837168vw , 1.5rem )) {
    .menu__link {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 41.99875);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 61.99875em) and (max-width: 74.375em) {
@supports (gap: clamp( 1.25rem , -11.2737349763rem  +  20.1999798vw , 3.75rem )) {
    .videos__container {
      gap: clamp( 1.25rem , -11.2737349763rem  +  20.1999798vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , -11.2737349763rem  +  20.1999798vw , 3.75rem )) {
    .videos__container {
      gap: calc(1.25rem + 2.5 * (100vw - 61.99875rem) / 12.37625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .videos__container {
    gap: 1.25rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #fff;
    color: #5cb3ff;
  }

  .button--blue:hover {
    border: 0.125rem solid #fff;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .slide-news__image:hover img {
    scale: 1.05;
  }

  .main-videos__slide:hover button {
    opacity: 1;
  }

  .aside-videos__title a {
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .aside-videos__title a:hover {
    text-decoration: underline;
  }

  .aside-videos__link:hover {
    opacity: 1;
  }
}